---
import Card from '../components/Card.astro'
import Layout from '../components/Layout.astro';
---

<Layout pageTitle='Services'>
  <h1>My services</h1>

  <Card title="Card 1"/>
  <Card title="Card 2"/>
  <Card title="Card 3"/>

  <style>
    body {
      background-color: #f2f2f2;
      color: #202020;
    }
  </style>
</Layout>

